@import "src/assets/styles/variables";
.learn-more{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &-menu{
    width: 280px;
    //display: flex;
    background: $gray;
    padding: 10px;
    font-size: 14px;
    line-height: 30px;
  }

  &-content{
    width: 840px;
    display: flex;
    background: $gray;
    padding: 10px;
  }
}
