@import "src/assets/styles/variables";

.market {
  font-size: $fontSizeSmall;

  &-header {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 $marginDefault;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &-main {
    display: flex;
    height: calc(100vh - 181px);
    background-image: url("../../assets/img/market/market-back@2x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% calc(100vh - 181px);
  }

  &-left {
    width: 280px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 20px 20px 40px;
    //background: linear-gradient(0deg, #7B54EC, $black, $black);

    &-filter {
      color: $white;
      cursor: pointer;
      font-weight: $fontWeightMini;

      &-wrap {
        width: 280px;
        height: 15px;
        margin: 18px 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-clear {
        color: $primary;
        cursor: pointer;
        font-weight: $fontWeightMini;
      }
    }

    &-element {
      color: $white;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &-wrap {
        width: 280px;
        display: flex;
        flex-direction: column;
      }

      &-group {
        font-size: $fontSizeMini;
        color: rgba(255, 255, 255, .2);
        margin-bottom: 18px;
      }

      &-item {
        width: 130px;
        display: flex;
        margin-bottom: 24px;
        position: relative;

        > label {
          display: flex;
          align-items: center;

          > img {
            margin: 0 10px 0 28px;
            width: 16px;
            height: 16px;
          }
        }

      }

    }

    &-star-level {
      background: $primary;
      height: 2px;
      position: relative;

      &-wrap {
        width: 280px;
        display: flex;
        flex-direction: column;
      }

      &-group {
        font-size: $fontSizeMini;
        color: rgba(255, 255, 255, .2);
        margin-bottom: 18px;
      }


      &-begin, &-end {
        position: absolute;
        top: -6px;
        color: $white;

        &-dot {
          width: 14px;
          height: 14px;
          background: $primary;
          border-radius: 50%;
          display: inline-block;
        }
      }

      &-begin {
        left: -2px;
      }

      &-end {
        right: -2px;
      }

    }
  }

  &-right {
    width: calc(100% - 341px);
    display: flex;
    flex-direction: column;
    align-items: center;

    $width: 1340px;

    &-number {
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #111111, #333333);
      outline: none;
      border: none;
      text-indent: 5px;
      color: $white;

      &-wrap {
        width: $width;
        height: 40px;
        margin: 20px auto;
        background: pink;
        display: flex;
        border: 1px solid #666666;
        border-radius: 6px;
        position: relative;
        overflow: hidden;
      }


      &-change {
        position: absolute;
        width: 72px;
        height: 40px;
        background: #00D9DB;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 18px;
        cursor: pointer;

        img {
          margin-right: 5px;
        }

        &-fall {
          transform: rotate(180deg);
        }
      }
    }

    &-main {
      width: $width;
      //height: calc(100% - 60px);
      display: flex;
      flex-wrap: wrap;
      //overflow-y: auto;

      &-item {
        width: 222px;
        height: 369px;
        background-image: url("../../assets/img/market/card-back.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 222px 369px;
        margin-right: 57px;
        margin-bottom: 40px;

        &:nth-child(5n) {
          margin-right: 0;
        }

        &-name {
          height: 24px;
          padding: 28px 30px 0 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $primary;
          font: {
            size: 24px;
            weight: bold;
          }
        }

        &-type {
          width: 24px;
          height: 24px;
        }

        &-role {
          width: 100%;
          height: 229px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-star {
          margin: auto;
          max-width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-price {

          &-wrap {
            width: 80%;
            margin: 14px auto 10px;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &-dummy {
            font: {
              size: $fontSizeMedium;
              weight: bold;
            }
            margin: 0 5px;
          }

          &-authentic {
            color: #9592AB;
            font-size: $fontSizeSmall;
          }
        }
      }
    }
  }
}
