@import "src/assets/styles/variables";

.market {
  font-size: $fontSizeSmall;

  &-header {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 $marginDefault;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }
}

