@import "variables";

body {
  margin: 0;
  font-family: PingFang-SC-Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.main{
  width: 1200px;
  height: auto;
  margin: auto;
  padding: 30px;
}

button{
  width: 120px;
  height: 40px;
  background: linear-gradient(90deg, #40D5D9, #7B54EC);
  border-radius: 6px;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer
}
// 外边距
.ml-default{
  margin-left: $marginSmall;
}
.mb-default{
  margin-bottom: $marginSmall;
}

.link{
  color: $link;
}
