@import "variables";

body {
  margin: 0;
  font-family: PingFang-SC-Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  position: relative;
}

.main {
  width: 1200px;
  height: calc(100vh - 160px);
  margin: auto;
  padding: 100px 30px 30px;
}

button {
  width: 120px;
  height: 40px;
  background: linear-gradient(90deg, #40D5D9, #7B54EC);
  border-radius: 6px;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer
}

// 外边距
//.ml-default {
//  margin-left: $marginDefault;
//}

.ml-default {
  margin-left: $marginDefault;
}
.ml-small {
  margin-left: $marginSmall;
}

.mb-default {
  margin-bottom: $marginDefault;
}
.mb-small {
  margin-bottom: $marginSmall;
}

// 内边距
.pl-default {
  padding-left: $marginSmall;
}

.link {
  color: $link;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  //border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  //background: rgba(0, 0, 0, .3);
  background: $primary;
  border-radius: 2px;
}

//::-webkit-scrollbar-thumb:hover {
//  background: rgba(0, 0, 0, 0.7);
//}

::-webkit-scrollbar-corner {
  background: #f6f6f6;
}
