@import "variables";

body {
  margin: 0;
  font-family: PingFang-SC-Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  position: relative;
}

//.main {
//  width: 1200px;
//  height: calc(100vh - 160px);
//  margin: auto;
//  padding: 100px 30px 30px;
//}

.main {
  //width: 1200px;
  //height: calc(100vh - 160px);
  //margin: auto;
  //padding: 100px 30px 30px;
  padding-top: 100px;
}

//button {
//  width: 120px;
//  height: 40px;
//  background: linear-gradient(90deg, #40D5D9, #7B54EC);
//  border-radius: 6px;
//  border: none;
//  outline: none;
//  color: $white;
//  cursor: pointer
//}

input[type='text'] {
  width: 246px;
  background: $black;
  border-radius: 6px;
  color: $white;
  outline: none;
  border: none;
  text-indent: 5px;
}


input[type=checkbox] {
  //opacity: 0;
  //overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/*lable标签的大小、位置、背景颜色更改，在css选择时，“+”代表相邻元素，即当前元素的下一元素*/
//input[type='checkbox'] +label::before{
//  display: block;
//  width: 16px;
//  height: 16px;
//  cursor: pointer;
//  position: absolute;
//  top: 2px;
//  left: 0;
//  background: rgba(240, 84, 77, 1);
//}
input[type="checkbox"] + label::before {
  position: absolute;
  top: 1px;
  content: "\a0"; /*不换行空格*/
  display: inline-block;
  vertical-align: .2em;
  width: 16px;
  height: 16px;
  background: rgba(0, 0, 0, 1);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/*当input框为选中状态时，lable标签的样式，其中在css选择时，“：”表示当前input框的值，即checked；
      该部分主要对显示的“对号”的大限居中方式，显示颜色进行了设置*/
input[type='checkbox']:checked + label::before {
  display: block;
  content: "\2714";
  text-align: center;
  font-size: 16px;
  color: white;
}

.input {

  &-wrap {
    width: 280px;
    height: 40px;
    background: $black;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      height: 30px;
    }
  }

  &-icon {
    width: 14px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
}

.btn {
  width: 120px;
  height: 40px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
  background: linear-gradient(0deg, #111111, #333333);
  font: {
    size: 16px;
    weight: bold;
  }

  &-confirm {
    background: linear-gradient(90deg, #40D5D9, #7B54EC);
  }

  &-cancel {
    padding: 1px;
    overflow: hidden;
    background: linear-gradient(-90deg, #9259EE, #0DCEDD);

    > span {
      width: 100%;
      height: 100%;
      background: $black;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// 外边距
.ml-default {
  margin-left: $marginDefault;
}

.ml-small {
  margin-left: $marginSmall;
}

.mb-default {
  margin-bottom: $marginDefault;
}

.mb-small {
  margin-bottom: $marginSmall;
}

// 内边距
.pl-default {
  padding-left: $marginSmall;
}

.link {
  color: $link;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  //border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  //background: rgba(0, 0, 0, .3);
  background: #cad1d6;
  border-radius: 2px;
}

//::-webkit-scrollbar-thumb:hover {
//  background: rgba(0, 0, 0, 0.7);
//}

::-webkit-scrollbar-corner {
  background: #f6f6f6;
}


// 遮罩层
.modal {
  &-mask-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
  }

  &-wallet {
    width: 560px;
    height: 476px;
    margin: 20vh auto 0;
    background: linear-gradient(0deg, #111111, #333333);
    border: 1px solid #666666;
    border-radius: 24px;

    &-header {
      font-size: 24px;
      margin: 38px 50px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
    }

    &-main {
      height: calc(100% - 174px);
      padding: 50px;
      display: flex;
      justify-content: space-between;

      &-item {
        width: 180px;
        height: 24px;
        background: rgba(255, 255, 255, 0);
        border: 1px solid rgba(204, 204, 204, 0.2);
        border-radius: 10px;
        margin-top: 80px;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        font-size: 18px;
        cursor: pointer;

        > img {
          margin-right: $marginSmall;
        }
      }
    }
  }

  &-close {
    cursor: pointer;
  }
}

// 角色
.role {
  &-main {
    //width: $width;
    //height: calc(100% - 60px);
    //display: flex;
    //flex-wrap: wrap;
    //overflow-y: auto;

    &-item {
      min-width: 222px;
      min-height: 369px;
      width: 100%;
      height: 100%;
      background-image: url("../img/market/card-back.png");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 100% 100%;
      //margin-right: 57px;
      //margin-bottom: 40px;

      &:nth-child(5n) {
        margin-right: 0;
      }

      &-name {
        height: 24px;
        padding: 28px 45px 0 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $primary;
        font: {
          size: 24px;
          weight: bold;
        }
      }

      &-type {
        width: 24px;
        height: 24px;
      }

      &-role {
        width: 100%;
        height: calc(100% - 52px - 100px);
        display: flex;
        justify-content: center;
        align-items: center;

        >img{
          width: 100%;
          height: 100%;
        }
      }

      &-star {
        margin: auto;
        max-width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-price {

        &-wrap {
          width: 80%;
          margin: 14px auto 10px;
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-dummy {
          font: {
            size: $fontSizeMedium;
            weight: bold;
          }
          margin: 0 5px;
        }

        &-authentic {
          color: #9592AB;
          font-size: $fontSizeSmall;
        }
      }
    }
  }
}

