@import "src/assets/styles/index";

.tree{
  &-wrap{
    width: 100%;
  }
  &-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &-arrow{
    width: 25px;
  }
  &-active{
    background: white;
    border: 1px solid #D5DCE3;
    position: relative;
    color: #2B65C5;
  }
}
