@import "src/assets/styles/index";

.tree{
  &-wrap{
    width: 100%;
  }
  &-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &-arrow{
    width: 25px;
  }
  &-active{
    color: $black !important;
    font-weight: bold;
  }
}
